{% extends 'base.html' %}   {# 将当前页面继承至base.html母版 #}
{% block content %}

<div class="col-sm-9 col-12" style="padding: 0px">
    <div class="col-12 row article-detail">
        <!-- 标题-->
        <div class="col-12 col-sm-12 title">
            {% set article = article_result[0] %}
            {{article.headline}}
        </div>
        <!-- 收藏-->
        <!--                <div class="col-sm-3 col-4 favorite">-->
        <!--                    <label><span class="oi oi-heart" aria-hidden="true"></span> 收藏本文</label>-->
        <!--                </div>-->
        <!-- 具体信息-->
        <div class="col-12 info">作者:{{article_result.nickname}}&nbsp;&nbsp;&nbsp;类别:{{article_type[article.sort_id | string]}}&nbsp;&nbsp;&nbsp;
            日期:{{article.create_time}}&nbsp;&nbsp;&nbsp;阅读:{{article.read_count}}次&nbsp;&nbsp;&nbsp;
        </div>
        <!-- 正文-->
        <div class="col-12 content">
            {{article.content | safe}}
        </div>
    </div>

    <!-- 小导航-->
    <div class="col-sm-12 col-12 article-nav">
        <div class="col-12">版权所有，转载本站文章请注明出处:LRC's Blog， http://www.lrc666.xyz/article/{{article.article_id}}</div>
        <div class="col-12"><a href="/article/{{prev_next.prev_id}}">上一篇：{{prev_next.prev_headline}}</a></div>
        <div class="col-12"><a href="/article/{{prev_next.next_id}}">下一篇：{{prev_next.next_headline}}</a></div>
    </div>

    <!-- 文章评论-->
    <div class="col-12 article-comment">
        <div class="col-12 row">
            <div class="col-sm-2 col-4">
                <label for="nickname">您的昵称:</label>
            </div>
            <div class="col-sm-10 col-8">
                <input type="text" id="nickname" class="form-control"/>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-sm-2 col-4">
                <label for="comment">您的评论:</label>
            </div>
            <div class="col-sm-10 col-8">
                <textarea class="form-control" style="height: 100px" id="comment"></textarea>
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-12" style="text-align: right">
                <button class="btn btn-primary" onclick="addComment('{{article.article_id}}')">发表评论</button>
            </div>
        </div>

        {% for comment in comment_result %}
        <div class="col-12 list row">
            <div class="col-2 icon">
                <img src="/avatar/1.png" class="img-fluid" style="'width:70px"/>
            </div>
            <div class="col-10 comment">
                <div class="col-12 row" style="padding: 0px">
                    {% if comment.nickname == None or comment.nickname == ''%}
                    <div class="col-7 commenter">无名氏&nbsp;&nbsp;&nbsp;{{comment.create_time}}</div>
                    {% else %}
                    <div class="col-7 commenter">{{comment.nickname}}&nbsp;&nbsp;&nbsp;{{comment.create_time}}</div>
                    {% endif %}
                    <div class="col-5 reply">
                        <label onclick="gotoReply('{{comment.comment_id}}')">
                            <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span>回复
                        </label>&nbsp;&nbsp;
                        <label>
                            <span class="oi oi-chevron-bottom" aria-hidden="true"></span> 赞成 (<span>{{comment.agree_count}}</span>)
                        </label>&nbsp;&nbsp;
                        <label>
                            <span class="oi oi-x" aria-hidden="true"></span> 反对 (<span>{{comment.disagree_count}}</span>)
                        </label>
                    </div>
                </div>
                <div class="col-12 content">
                    {{comment.content}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    function addComment(article_id) {
        var content = $.trim($("#comment").val());
        var nickname = $.trim($("#nickname").val());
        if (content.length < 5 || content.length > 1000) {
            bootbox.alert({title:"错误提示", message:"评论内容在5-1000字之间."});
            return false;
        }
        var param = 'article_id=' + article_id + '&content=' + content + '&nickname=' + nickname;
        $.post('/comment', param, function (data) {
            if (data == 'content-invalid') {
                bootbox.alert({title:"错误提示", message:"评论内容在5-200字之间."});
            }
            else if (data == 'add-limit') {
                bootbox.alert({title:"错误提示", message:"你当天已经用完5条评论的限额."});
            }
            else if (data =='add-pass') {
                location.reload();
            }
            else {
                bootbox.alert({title:"错误提示", message:"发表评论出错，请联系管理员."});
            }
        });
    }
</script>

{% include 'side.html' %}
{% endblock %}