<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Page</title>
    <link rel="stylesheet" type="text/css" href="/css/error-500.css"/>
</head>
<body>
    <div id="error">
        <div id="box"></div>
        <h3>ERROR 500</h3>
        <p>服&nbsp;&nbsp;务&nbsp;&nbsp;器&nbsp;&nbsp;崩&nbsp;&nbsp;溃&nbsp;&nbsp;了&nbsp;&nbsp;!</p>
        <p>Things are a little <span>unstable</span> here</p>
        <p>建&nbsp;&nbsp;议&nbsp;&nbsp;稍&nbsp;&nbsp;后&nbsp;&nbsp;再&nbsp;&nbsp;来</p>
        <p>I suggest come back later</p>
    </div>
</body>
</html>